h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 1.2em;
}


/* HERO SECTION DESKTOP */
.t-hero-white > h1{
  color:#fff;
  font-weight: 900;
  font-size: 3em;
}

.btn-hero-top {
  background: #183F8E;
  border-radius: 50px;
  padding: 7px;
  width: 170px;
  text-align: center;
  font-weight: 600;
  border: solid 3px #183F8E;
}

.btn-hero-top:hover {
  /* background: #ffffff52!important; */
  background: none;
  border-radius: 50px;
  padding: 7px;
  width: 170px;
  text-align: center;
  font-weight: 600!important;
  border: solid 3px #183F8E;
  color: #183F8E!important;
}

.t-hero-white > p{
  color:#fff;
}

#hero-atleta {
  background: url('../assets/bg-home-top.png') no-repeat bottom center;
  height: 80vh;
  background-size: cover;
  padding-top: .4em;
}

.bg-2 {
  background: url('../assets/bg-atleta2.svg') no-repeat top center;
    background-size: cover;
    padding-top: 0.4em;
}

#bola-volei-hero {
  position: absolute;
  left: 50%;
  top: 30%;
  animation: spin-clockwise 20s infinite linear;
  width: 180px;
  opacity: 0.94;
}


@keyframes spin-clockwise {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  };
}



.getapp {
  transition: all .2s ease-in-out;
  transform: scale(0.94);
}

.getapp:hover {
  transform: scale(1);
}

.black-subtitle {
  color: #464646;
  font-size: 2.5em;
  font-weight: 900;
}


.text-white{
  color: #fff;
}

.white-subtitle {
  color: #fff;
  font-size: 2.5em;
  font-weight: 900;
}

.divisor-subtitle {
  padding: 30px 0;
}

.light-grey {
  background: #F9F9F9
}

.btn-cta-blue {
  position: relative;
  top: 1em;
  background: #183F8E;
  padding: 16px 3em;
  color: #fff;
  text-decoration:none;
  border-radius:8px;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: .08em;
}

.title-footer {
  color:#183F8E;
  font-size:1.4em;
  font-weight: 600;
}

.p10 {
  padding:10px
}

.p20 {
  padding:20px
}


.p5p {
  padding:5%
}

.p10p {
  padding:10%
}   

.footer-menu-v > li > a {
  text-decoration:none;
  color: #464646;
  list-style:none;
  line-height: 40px;
}

.footer-menu-v > li > a:hover {
  color:  #183F8E;
  font-weight: 600;
}

.fs-16 {
  font-size: 16px;
}

.pos-footer {
  background: #464646;
  color:#fff;
  padding: 20px 0;
}

.content-footer {
  padding-bottom: 70px;
}

.social-icon-footer {
  transition: all .2s ease-in-out;
  transform: scale(0.94);
  margin-right: 6px;
}

.social-icon-footer:hover {
  transform: scale(1);
}

.social-icon-menu {
  transition: all .1s ease-in-out;
  transform: scale(0.7);
}

.social-icon-menu:hover {
  transform: scale(0.8);
}


/* MOBILE */

@media screen and (max-width: 560px) {
  .t-hero-white > h1 {
    color: #fff;
    font-weight: 900;
    font-size: 1.6em!important;
    padding-top: 50px;
  } 

  .getapp {
    width: 150px;
  }

  .heroimg-player {
    right: 0;
    position: absolute;
    bottom: -70px!important;
  }

  #bola-volei-hero {
    left: 50px!important;
    top: 590px!important;
    width: 80px!important;
}

}


@media screen and (max-width: 900px){
  .t-hero-white > h1 {
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    padding-top: 50px;
  }

  .logo-atleta-do-volei-footer {
    width: 230px;
  }
  .white-subtitle {
    font-size: 1.6em;
  }

  .black-subtitle{
    font-size: 1.6em!important;
  }

  .social-icon-footer {
    transform: scale(0.76);
  }
  .container {
    padding: 0 1em;
  }

  .heroimg-player {
    width: 270px;
    right: 0;
    position: absolute;
    bottom: -30px;
  }

  #bola-volei-hero {
    position: absolute;
    left: 120px;
    top: 720px;
    animation: spin-clockwise 20s infinite linear;
    width: 90px;
    opacity: 1;
  }

  #section2 {
    margin-top: 130px!important;
  }

  #hero-atleta {
    height: 84vh;
  }


  .black-subtitle {
    font-size: 2em;
  }

  .mob-margin-somos-atleta {
    margin: 0 0 100px 0;
  }

  .baixar-app-grey {
    margin-top: 0em!important;
    margin-bottom: 5em;
  }

  .hidden-mobile {
    display:none!important;
  }


  .cols-footer {
    padding: 0em 1em 4em 1em;
  }

  .ul-menu-mobile {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .logo-atleta {
    width: 250px;
  }
}/* END MOBILE */

@media screen and (min-width: 900px) {
  .hidden-desktop {
    display:none!important;
  }

  .thumb-video > img {
    width: 60%;
    position: relative;
    left: 20%;
    border-radius: 10px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }

  .iframe-video > iframe {
    width: 60%;
    position: relative;
    left: 20%;
    height: 390px;
    border-radius: 10px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  }
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.container-faq {
 width: 60%;
 position: relative;
 left: 20%;  
}

.accordion-button {
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #ffddb9;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  border-color: #ffc384;
}

.accordion-body {
  padding: 50px 20px;
}

@media screen and (min-width: 1000px) and (max-width: 1600px){
  #moving {
    width: 500px;
    position: relative;
    top: 80px;
    left: 100px;
  }
  
  #bola-volei-hero {
    position: absolute;
    left: 54%;
    top: 42%;
    animation: spin-clockwise 20s infinite linear;
    width: 140px;
    opacity: 0.94;
  }
  
}